<%layout("/layouts/boilerplate")  %>
<div class="row">
  <div class="col-8 offset-2">
  <h3>Create a New Listing</h3>
    <!-- <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data"> -->
      <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
      <input type="text" placeholder="enter title" name="listing[title]" class="form-control"  required/>
       <div class="invaild-feedback">Please enter Title</div>
      </div>
    <div class="mb-3"> <label for="description" class="form-label">Description</label>
      <textarea  name="listing[description]" placeholder="enter description"
      class="form-control" required>
         
      </textarea>
      <div class="invalid-feedback">Please enter a Short Description</div>
    </div>
     
     <div class="mb-3">
      <label for="image" class="form-label">Upload Image</label>
      <input  name="listing[image]"  type="file" class="form-control"  required>
     
     </div>
  
     <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input placeholder="1200" name="listing[price]" class="form-control" required/>
       <div class="invalid-feedback">Please enter a valid Price!</div>

       </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input type="text" name="listing[country] " placeholder="India" class="form-control" required>
          <div class="invalid-feedback">Please enter the country Name</div>
        </div>
      </div>
     <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" placeholder="Lucknow, Jaipur" name="listing[location]" class="form-control" required/>
        <div class="invalid-feedback">Please enter a location</div>
      </div>
      <button class="btn btn-dark add-btn">Add</button>
      <br>
    </form>
  </div>
  </div>

